<configuration>
    <conversionRule conversionWord="crlf" converterClass="org.owasp.security.logging.mask.CRLFConverter"/>
    <conversionRule conversionWord="uuid" converterClass="io.pinnacl.commons.logging.UuidConverter"/>

    <appender name="local" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %blue(%uuid) %yellow(%d{HH:mm:ss.SSS}) %green([%thread]) %highlight(%-5level) %cyan(%logger{36}) -
                %msg %n
            </pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="TRACE" />
    <logger name="io.vertx" level="TRACE" />
    <logger name="com.hazelcast" level="TRACE" />
    <logger name="org.hibernate.validator" level="TRACE" />

    <root level="TRACE">
        <appender-ref ref="local"/>
    </root>
</configuration>
