body {
    background: #E9EDFA;
    vertical-align: middle;
    font-family: Roboto, sans-serif;
}

div {
    background: #FFFFFF;
    width: 50%;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px
}

button {
    height: 50px;
    width: 400px;
    background: #223E98;
    color: white
}